<ul>
    <li><a routerLink="/">Accueil</a></li>

    <li><a routerLink="/about">About</a></li>
    <li><a href="">About2</a></li>
    <!--href charge toute la page alors que routerlink charge une partie de page-->
</ul>


<div class="container color-dark">

    <div class="col">
        <p>Un élément de liste</p>
    </div>

    <div class="col">
        <p>Ma liste d'éléments ({{nbItems}})</p>
    </div>

</div>
<div class="container color-light" [@animobjectifs]="t.length">

    <div class="col">
        <p class="sm">Un nouvel élément de liste</p>
        <input class="txt" type="text" name="item" [(ngModel)]="objectifsText" placeholder="..." />

        <p class="sm">{{objectifsText}}</p>
        <input type="submit" class="btn" [value]="btnText" (click)="ajoutItem(objectifsText)" />
        <!--
        <input type="submit" class="btn" [value]="btnText" (click)="ajoutItemBis()" />
    -->
    </div>

    <div class="col">

        <!--
        <p class="life-container" *ngFor="let elt of objectifs">
          {{'Bonjour '+elt}}
        </p>
    -->
        <p class="life-container" *ngFor="let ob of t;let i = index" >
            {{ob}} <a routerLink="/consultAct/{{i}}">Go To consult Act</a>
        </p>
    </div>
</div>